body {
  font-family: Arial;
  color: #333;
  margin: 0px 50px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: black;
}

h1::first-letter {
  font-size: 60px;
  color: red;
}

hr {
  margin: 40px 0px;
}

.footer {
  font-size: 14px;
  text-align: center;
}
